<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card margin-top>
        <ion-card-content>
            <ion-card-header>
                <ion-card-title>Register Spending/Incoming</ion-card-title>
            </ion-card-header>
            <ion-item>
                <ion-input text-end type="decimal" max="10" [(ngModel)]="entry.value" placeholder="0.00"></ion-input>
            </ion-item>
            <ion-item (click)="selectDate()">
                <ion-label>Date:</ion-label>
                <ion-label class="ion-text-end">{{ entry.date | date: 'dd/MM/yyyy HH:mm' }}</ion-label>
                <ion-icon slot="end" name="calendar"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label>{{positive ? 'Income' : 'Expense'}}</ion-label>
                <ion-toggle [(ngModel)]="positive" (ionChange)="filterCategories()"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Reason</ion-label>
                <ion-select [(ngModel)]="entry.category">
                    <ion-select-option *ngFor="let category of categories"
                                       [value]="category.description">{{category.description}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-textarea placeholder="Note" [(ngModel)]="entry.comment"></ion-textarea>
            <ion-button expand="full" shape="round" color="success" (click)="addEntry()">
                Add Entry
                <ion-icon name="logo-euro"></ion-icon>
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
